<!DOCTYPE html>
<html>
  <head>
    <title>Star Wars Cards</title>
    {{ style('style') }}
    {{ style('star-wars') }}
  </head>
  <body>
    <header>
      <div class="subtitle">
        <p>{{ name }} is here!</p>
        <p>He is {{ height }} tall</p>
        <p>He's from {{ homeworld }}.</p>
      </div>
    </header>
  </body>
</html>